.recipe {
  background: #f8f8f8;
  color: black;
  text-align: center;
  padding: 40px;
  height: 100vh;
}
.recipe ul {
  width: 90%;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: left;
}
.recipe li {
  margin-top: 20px;
}
.recipe img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.ingredients {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  list-style: none;
  background-color: rgb(243, 239, 239);
  width: 70%;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.ingredients span {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 16px;
}

.recipe button {
  font-family: Montserrat, Georgia, serif;
  font-weight: 700;
  font-size: 15px;
  display: block;
  margin: auto;
  padding: 5px 20px;
  text-transform: uppercase;
  border: 2px solid #61a5a0;
  border-color: #61a5a0;
  text-align: center;
  color: #2e353c;
  line-height: 44px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  margin-top: 30px;
}
.recipe button:hover {
  background-color: #61a5a0;
}
