.recipes {
  background: #f8f8f8;
  color: black;
  text-align: center;
  padding: 30px 0px;
  min-height: 100vh;
}

.recipes h1 {
  font-style: italic;
  font-size: 42px;
  font-family: Georgia;
  color: #1e282f;
  text-transform: none;
  text-align: center;
  font-weight: 400;
  letter-spacing: 1px;
}
.recipes h3 {
  font-family: Montserrat, Georgia, serif;
  font-size: 14px;
  color: #a3865b;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  letter-spacing: 2px;
  display: block;
  margin-top: 5px;
}

.filters {
  margin-top: 26px;
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
}
.filters span {
  color: #000;
  font-family: Montserrat, Georgia, serif;
  font-size: 12px;
  font-weight: 400;
  margin-right: 20px;
  text-transform: uppercase;
}
.filters li {
  cursor: pointer;
  background-color: #b6b6b6;
  color: #fff;
  display: inline-block;
  font-family: Montserrat, Georgia, serif;
  font-size: 10px;
  font-weight: 700;
  margin-bottom: 5px;
  margin-right: 10px;
  padding: 6px 12px;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out 0s;
}
.filters li:hover {
  background-color: #62a5a1;
}
.recipesList {
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  text-align: left;
}
.recipesList .recipe {
  width: auto;
  margin: 8px;
  cursor: pointer;
}

.recipesList div h4 {
  color: #a3865b;
  display: block;
  font-family: Montserrat, Georgia, serif;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 2px;
  margin-bottom: 3px;
  margin-top: 8px;
  overflow: hidden;
  text-transform: uppercase;
}
.recipesList div img {
  width: 200px;
  height: 300px;
  object-fit: cover;
}
.recipesList div:hover > h4 {
  color: #62a5a1;
  transition: 0.3s ease;
}

.recipes button {
  font-family: Montserrat, Georgia, serif;
  font-weight: 700;
  font-size: 15px;
  display: block;
  margin: auto;
  width: 248px;
  height: 50px;
  text-transform: uppercase;
  border: 2px solid #61a5a0;
  border-color: #61a5a0;
  text-align: center;
  color: #2e353c;
  line-height: 44px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.recipes button:hover {
  background-color: #61a5a0;
}
.recipeCount {
  color: #c3c3c3;
  font-size: 15px;
  font-family: Georgia;
  letter-spacing: 1px;
}
.recipeTimer {
  margin-top: 10px;
  padding: 0;
  display: flex;
  align-items: center;
  color: #a3865b;
  font-size: 14px;
}
.recipeTimer i {
  margin-right: 10px;
  color: #000;
}
