body {
  font-family: Montserrat, Georgia, serif;
}
* {
  box-sizing: none;
  margin: 0;
  padding: 0;
}
.inputErr {
  color: red;
  font-size: 12px;
  margin-top: 5px;
  text-align: left;
  font-family: serif;
}
