.signUp {
  font-family: 'Original Surfer', cursive;
  color: #62a5a1;
  position: fixed;
  width: 50%;
  padding: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  max-width: 100%;
  max-height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgb(255, 253, 253);
  margin: 0 auto;
  text-align: center;
  overflow: auto;
  text-transform: uppercase;
}
.signUp h1 {
  font-size: 36px;
}
.signUp label {
  margin-top: 20px;
  text-align: left;
}

.signUp button {
  width: 100%;
  background: #fdc608;
  border: none;
  border-radius: 6px;
  padding: 20px;
  margin: 20px auto 0px;
  text-transform: uppercase;
  text-decoration: none;
  display: block;
  font-family: Montserrat, serif;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  line-height: 1;
  cursor: pointer;
  max-width: 304px;
  transition: background-color 0.2s ease;
  -webkit-transition: background-color 0.2s ease;
  -moz-transition: background-color 0.2s ease;
}

.signUp button:hover {
  background: #fcd23b;
}

.signUp form {
  display: flex;
  flex-direction: column;
}
.signUp input {
  padding: 12px;
  background: rgb(255, 255, 255);
  border: 1px solid gray;
  border-radius: 5px;
  outline: none;
}
.signUp .err {
  color: red;
  font-size: 12px;
  margin-top: 5px;
  text-align: left;
  font-family: serif;
}

.additAuth p {
  font-size: 14px;
  color: rgb(43, 184, 0);
  font-family: serif;
  text-align: left;
  text-transform: lowercase;
}
.emailChecked {
  margin-top: 30px;
}
.emailChecked input {
  width: 100%;
}
.emailChecked button {
  padding: 10px;
  margin: 0;
  margin-top: 12px;
  width: auto;
}
.qr {
  margin-top: 30px;
}
